body {
  font-family: 'Poppins', sans-serif !important;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("20.jpg");
  background-size: cover;
  background-position: right;
  min-height: 100vh;
}


.navbar-light .navbar-nav {
  text-align: center;
  margin-right: 20px;
}


.navbar-light .navbar-nav .nav-link {
  background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
  background: linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffd700;
  font-weight: 500;
  margin-left: 1em;
  margin-right: 1em;
}


.navbar-brand {
  color: #ffd700;
  font-size: 35px;
  padding: 0 0;
  font-family: 'Cookie', cursive;
  background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
  background: linear-gradient(to top, #FC38AE 0%, #F0D000 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #FC38AE;
}

.navbar-light .navbar-toggler {
  border-color: #F0D000;
}

.navbar-toggler {
  background-color: #FFB300 !important;
}

#navbarNavDropdown {
  justify-content: end;
}


.row {
  color: #F0D000;
  display: flex;
  justify-content: center;
}

.row:nth-of-type(1) {
  margin-top: 75px;
}


#period {
  width: 200px;
  text-align: center;
  border: 2px solid rgb(23 22 53);
  background-color: #FFB300;
  color: rgb(23 22 53);
  border-radius: 6px;
  margin: 0 !important;

}

.dropdown-menu {
  margin-bottom: 100px;
}

.dropdown-item {

  border-color: rgb(23 22 53);
  background-color: #FFB300 !important;


}

.custom-select:hover {
  border-color: rgb(23 22 53);
  box-shadow: inset 0px 0px 2px 2px rgb(23 22 53);
}

#Date {
  background-color: #FFB300;
  margin: 10px auto 10px auto;
  width: 75%;
  border-radius: 6px;
  text-align: center;
  color: rgb(23 22 53);
  font-size: 25px;
  border-radius: 6px;
  border: 2px solid rgb(23 22 53);
  padding: 0px 10px 0 10px;

}

.table {
  border: 2px solid #FFB300;
  width: 300px;
  color: #FFB300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.table #titleOfTable1 {
  background-image: linear-gradient(45deg, #FC38AE 0%, #F0D000 100%);
  color: rgb(23 22 53);
  font-size: 25px;
}



#Table {
  background: rgb(23 22 53 / 75%);
  border: 15px solid rgba(92, 91, 141, 0.25);
  margin-top: 100px;


}


tr {
  color: #FFB300;
}


@media (max-width: 1000px) {

  #Table {
    margin-top: 30px;
  }

  #content {
    margin-top: 150px;
  }

}

@media (max-width: 780px) {

  #content {
    margin-top: 180px;
  }
}



@media (max-width: 420px) {

  #period {
    margin-top: 140px;
  }

  #content {
    margin-top: 60px;
  }
}