body {
    font-family: 'Poppins', sans-serif !important;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("20.jpg");
    background-size: cover;
    background-position: right;
    min-height: 100vh;
}


.navbar-light .navbar-nav {
    text-align: center;
    margin-right: 20px;
}


.navbar-light .navbar-nav .nav-link {
    background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    background: linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffd700;
    font-weight: 500;
    margin-left: 1em;
    margin-right: 1em;
}


.navbar-brand {
    color: #ffd700;
    font-size: 35px;
    padding: 0 0;
    font-family: 'Cookie', cursive;
    background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    background: linear-gradient(to top, #FC38AE 0%, #F0D000 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #FC38AE;
}

.navbar-light .navbar-toggler {
    border-color: #F0D000;
}

.navbar-toggler {
    background-color: #FFB300 !important;
}

#navbarNavDropdown {
    justify-content: end;
}

.getStarted {
    background: rgb(23 22 53 / 75%);
    border: 15px solid rgba(92, 91, 141, 0.25);
    color: #F0D000;
    height: auto;
    margin-top: 75px;
    padding: 30px 25px 25px 25px;
    text-align: center;

}

.sentence {
    color: #F0D000;
    margin-top: 40px;
}

.sentence span {
    background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    background: linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFB300;

}

.btn {
    border: 2px solid rgb(23 22 53);
    background-color: #FFB300;
    color: rgb(23 22 53);
    font-weight: 500;
}



#HomePage {
    margin-top: 225px;
    width: 50%;
}