body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("20.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    height: 75px;
    margin: auto;
}

.navbar-dark .navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    background: linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffd700;
    font-weight: 500;
    display: inline-block;
}

.navbar-dark .navbar-brand {
    color: #ffd700;
    font-size: 35px;
    padding: 0 0;
    font-family: 'Cookie', cursive;
    background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    background: linear-gradient(to top, #FC38AE 0%, #F0D000 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #FC38AE;
}

.navbar-dark .navbar-toggler {
    color: #F0D000;
    border-color: #F0D000;
}

.getStarted {
    background: rgb(23 22 53 / 75%);
    border: 15px solid rgba(92, 91, 141, 0.25);
    color: #F0D000;
}

.getStarted p {
    font-size: 20px;
    text-align: center;
}