body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("20.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    height: 75px;
    margin: auto;
}

.navbar-dark .navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    background: linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffd700;
    font-weight: 500;
    display: inline-block;
}

.navbar-dark .navbar-brand {
    color: #ffd700;
    font-size: 40px;
    padding: 2px 2px;
    font-family: 'Cookie', cursive;
    background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    background: linear-gradient(to top, #FC38AE 0%, #F0D000 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #FC38AE;
}

.navbar-dark .navbar-toggler {
    color: #F0D000;
    border-color: #F0D000;
}


.login {
    background: rgb(23 22 53 / 75%);
    border: 15px solid rgba(92, 91, 141, 0.25);
    color: #FFB300;
    height: auto;
    margin-top: 75px;
    padding: 20px 25px 25px 25px;

}

.sentence {
    color: #F0D000;
    margin-top: 40px;
}

.sentence span {
    background: -moz-linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    background: linear-gradient(to top, #FC38AE 0%, #F0D000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffd700;

}

.title {
    padding: 0px 10px 10px 10px;
    color: #FFB300;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

form .row input {

    border: 2px solid rgb(23 22 53);
    border-radius: 6px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #6c7673;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 215, 0);
}

form .row i {
    background-color: #FFB300;
    height: 100%;
    width: 47px;
    border: 2px solid rgb(23 22 53);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 0 0 6px;
    color: rgb(23 22 53);
}

.pass {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

form .pass label {
    color: rgb(68, 68, 68);
}

form .pass a {
    color: rgb(68, 68, 68);
    text-decoration: none;
}

form .pass a:hover {
    text-decoration: underline;
}

.btn {
    border: 2px solid rgb(23 22 53);
    background-color: #FFB300;
    color: rgb(23 22 53);
    font-weight: 500;

}

.button {
    display: flex;
    justify-content: center;
}

.signin {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

.signin a {
    color: rgb(68, 68, 68);
    text-decoration: none;
}

form .signin a:hover {
    text-decoration: underline;
}