{% extends "base.html" %}

{% block title %}Expense{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/expense.css" />

{% endblock %}

{% block footer %}

<script src="data.js"></script>

{% endblock %}

{% block body %}

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid ">
            <a class="navbar-brand"><i class="fa-solid fa-hand-holding-dollar me-2"></i>PERSONAL BUDGET</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-1">
                        <a class="nav-link px-1" aria-current="page" href="/"><i
                                class="fa-solid fa-house me-2"></i>Home</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="/Income/newIncome"><i class="fas fa-coins mr me-2"></i>Add Income</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href=""><i class="fa-solid fa-money-bill-1-wave me-2"></i>Add
                            Expense</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="#"><i class="fa-solid fa-chart-pie me-2"></i>View
                            Balance</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="#"><i class="fas fa-cog me-2"></i>Settings</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt me-2"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="content">
        <div class="row justify-content-center mt-5">
            <div class="col-10 col-md-8 col-lg-6 col-xl-5">
                <div class="expense">
                    <div class="title"><span>Add Expense</span></div>
                    <form method="post">




                        <div class="row mb-3">
                            <div class="input-group">
                                <label for="amount" class="form-label">Amount</label>
                                <input id="amount" class="form-control" type="number" step="0.01" min="0"
                                    aria-label="default input example" name="amount">
                            </div>




                        </div>

                        <div class="row mb-3">
                            <div class="input-group">
                                <label for="date" class="form-label">Date</label>
                                <input id="date" class="form-control" type="date" aria-label="default input example"
                                    name="date" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="input-group">

                                <label for="exampleDataList2" class="form-label text-center">Payment Methods</label>
                                <select class="form-control userInput labeledInput" name="payment"
                                    id="exampleDataList2">

                                </select>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="input-group">

                                <label for="exampleDataList" class="form-label">Category</label>
                                <select class="form-control userInput labeledInput" name="category"
                                    id="exampleDataList">

                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="input-group">
                                <label for="area" class="form-label">Comments</label>
                                <input id="area" class="form-control" type="text" name="comment"
                                    aria-label="default input example">
                            </div>

                        </div>
                        <div class="button">
                            <button type="submit" class="btn btn-success me-3">Save</button>
                            <button type="submit" class="btn btn-danger ms-3">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}