{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/forgot.css" />

{% endblock %}

{% block body %}



<div class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5">
                <div class="login" style="height: auto;">
                    <div class="title"><span>Request password reset</span></div>

                    <form method="post" action="/password/request-reset">

                        <div class="row mb-3">
                            <div class="input-group">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" name="password" required>
                            </div>
                        </div>

                        <div class="button">
                            <button type="submit" class="btn btn-warning">Send password reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}