{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<h1>Request password reset</h1>

<div class="main">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="login" style="height: auto;">
                    <div class="title"><span>Request password reset</span></div>

                    <form method="post">

                        <div>
                            <label for="inputEmail">Email address</label>
                            <input class="form-control" type="email" id="inputEmail" name="email"
                                placeholder="Email address" autofocus required />
                        </div>

                        <button type="submit">Send password reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post">

    <div>
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus required />
    </div>

    <button type="submit">Send password reset</button>
</form>

{% endblock %}