{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/forgot.css" />

{% endblock %}

{% block footer %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

<script src="/js/haslo.js"></script>
<script src="/js/validationFormPassword.js"></script>



{% endblock %}

{% block body %}


<div class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5">
                <div class="login" style="height: auto;">
                    <div class="title"><span>Reset password</span></div>

                    <form method="post" id="formPassword" action="/password/reset-password">

                        <input type="hidden" name="token" value="{{ token }}" />

                        <div class="row">
                            <div class="input-group">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" required>
                            </div>
                            <ul class="text-danger text-center mt-1" style="list-style-type:none;">

                                {% if user.errors['errorPassword1'] is defined %}
                                <li>{{ user.errors['errorPassword1'] }}</li>
                                {% endif %}

                                {% if user.errors['errorPassword2'] is defined %}
                                <li>{{ user.errors['errorPassword2'] }}</li>
                                {% endif %}

                                {% if user.errors['errorPassword3'] is defined %}
                                <li>{{user.errors['errorPassword3']}}</li>
                                {% endif %}
                            </ul>
                            <div class="mb-3">
                                <input type="checkbox" id="checkbox" name="checkbox" onclick="showPassword()">
                                <label for="checkbox">Show password</label>
                            </div>

                        </div>

                        <div class="button"><button type="submit" class="btn btn-warning">Reset password</button></div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}