{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/home.css" />

{% endblock %}

{% block body %}

<div id="HomePage" class="container">
    <div class="row mx-auto px-0 py-0 getStarted">
        <div class="col text-center">
            <div style="padding-top: 10px; padding-bottom: 10px; text-align:center;">
                <h3>Password reset successfully</h3>
                <br />
                <p>You can now log in.</p>

                <a href="/login" style="color: #444444; font-size: 20px;">
                    Go to the login page!</a>

            </div>
        </div>
    </div>
</div>


{% endblock %}