{% extends "base.html" %}

{% block title %}Balance of current Month{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/balance.css" />

{% endblock %}

{% block footer %}

{% endblock %}

{% block body %}

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="fa-solid fa-hand-holding-dollar me-2"></i>PERSONAL BUDGET</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-1">
                        <a class="nav-link px-1" aria-current="page" href="/"><i
                                class="fa-solid fa-house me-2"></i>Home</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="/Income/newIncome"><i class="fas fa-coins mr me-2"></i>Add Income</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="/Expense/newExpense"><i
                                class="fa-solid fa-money-bill-1-wave me-2"></i>Add
                            Expense</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="/Balance/showBalanceCurrentMonth"><i
                                class="fa-solid fa-chart-pie me-2"></i>View
                            Balance</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="#"><i class="fas fa-cog me-2"></i>Settings</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt me-2"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

        <select class="custom-select" id="period" name="selectPeriodTime" onchange="location = this.value;">>
            <option value="" selected disabled>Choose period of time</option>
            <option value="/Balance/showBalanceCurrentMonth">Current Month</option>
            <option value="/Balance/showBalancePreviousMonth">Previous Month</option>
            <option value="currentYear">Current year</option>
            <option value="customPeriod">Custom period</option>
        </select>
        <div class="mb-3 text-center">
            <span id="Date">Balance from: {{first_day_of_current_month}} to {{current_date}}.</span>;
        </div>




        <div class="row" id="Table">
            <div class="col-12 col-xl-4 text-center">
                <table class="table table-bordered border-warning">
                    <thead>
                        <tr id="titleOfTable1">
                            <th colspan="2">Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Category </th>
                            <td> Total </th>
                        </tr>
                        {% for expense in expenseCategories %}
                        <tr>
                            <td>{{ expense.name }}</td>
                            <td>{{ expense.sum}}</td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td>TOTAL</td>
                            <td>{{ sumOfExpenses }} PLN</td>
                        </tr>

                    </tbody>
                </table>

                <!--
                <script type="text/javascript">
                    google.charts.load("current", { packages: ["corechart"] });
                    google.charts.setOnLoadCallback(drawChart);


                    function drawChart() {
                        var data = google.visualization.arrayToDataTable([
                            ['Category', 'Amount'],
                        <? php
                            foreach($expenseCategoriesOfLoggedUser as $category){

                                extract($category);

                                echo  "['$name', $sum],";
                            }

                                ?>
                        ]);

                        var options = {
                            is3D: true,
                            legend: {
                                textStyle: { color: 'white' }
                            },
                            backgroundColor: 'transparent',
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                        chart.draw(data, options);
                    }
                </script>
                /*
                <?php

                            echo '<p class="fs-3">Pie chart of expenses</p>';
                            
                            echo '<div  class="d-flex justify-content-center" id="piechart_3d"></div>';


                        }
                    ?>
                -->

            </div>
            <div class="col-12 col-xl-4 text-center">
                <table class="table table-bordered border-warning">
                    <thead>
                        <tr id="titleOfTable1">
                            <th colspan="2">Incomes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> Category </th>
                            <th> Total </th>
                        </tr>
                        {% for incomes in incomeCategories %}
                        <tr>
                            <td>{{incomes.name}}</td>
                            <td>{{incomes.sum}}</td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td>TOTAL</td>
                            <td>{{ sumOfIncomes }} PLN</td>
                        </tr>
                    </tbody>
                </table>

                <!--

                <script type="text/javascript">
                    google.charts.load("current", { packages: ["corechart"] });
                    google.charts.setOnLoadCallback(drawChart);


                    function drawChart() {
                        var data = google.visualization.arrayToDataTable([
                            ['Category', 'Amount'],
                            <? php
                                foreach($incomeCategoriesOfLoggedUser as $category){

                                extract($category);
        
                                    echo  "['$name', $sum],";
                            }

                                ?>
                            ]);

                        var options = {
                            is3D: true,
                            legend: {
                                textStyle: { color: 'white' }
                            },
                            backgroundColor: 'transparent',
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart_incomes'));
                        chart.draw(data, options);
                    }
                </script>

                <?php

                        echo '<p class="fs-3">Pie chart of incomes</p>';
                        
                        echo '<div class="d-flex justify-content-center" id="piechart_incomes"></div>';


                     }
                    ?>
-->
            </div>
            <div class="col-12 col-xl-4 text-center">


                <table class="table table-bordered border-warning">
                    <thead>
                        <tr id="titleOfTable1">
                            <th colspan="3">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> Incomes </th>
                            <th> Expenses </th>
                            <th> Balance </th>
                        </tr>
                        <tr>
                            <td>{{sumOfIncomes}}</td>
                            <td>{{sumOfExpenses}}</td>
                            <td>{{sumOfIncomes-sumOfExpenses}}</td>
                        </tr>
                    </tbody>
                </table>

                <!--
                        

                    
                            if($balance>0){
                                echo<<<END

                                <div class="alert alert-success" role="alert">

                                Congratulations! You manage your finances great!
                            </div>
                            END;

                            }else{
                                echo<<<END

                                <div class="alert alert-danger" role="alert">

                                Ups! You are getting into Debt! Try to plan your expenses better!
                            </div>
                            END;

                            }
                            ?>
                -->

            </div>



        </div>

    </div>
</div>
</div>

</div>
</div>

{% endblock %}