{% extends "base.html" %}

{% block title %}Balance of current Month{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/balance.css" />

{% endblock %}

{% block footer %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script>
    /* Load expense sums by twig to piechart.js.  */
    var expensesJSON = '{{expenseCategories|json_encode|raw}}';
    var expenses = JSON.parse(expensesJSON);

    var incomesJSON = '{{incomeCategories|json_encode|raw}}';
    var incomes = JSON.parse(incomesJSON);

    var lastDayJSON = '{{last_day_of_current_month|json_encode|raw}}';
    var lastDayOfCurrentMonth = JSON.parse(lastDayJSON);


    var detailsOfIncomeJSON = '{{detailsOfIncome|json_encode|raw}}';
    var detailsOfIncome = JSON.parse(detailsOfIncomeJSON);

    var detailsOfExpenseJSON = '{{detailsOfExpense|json_encode|raw}}';
    var detailsOfExpense = JSON.parse(detailsOfExpenseJSON);

</script>

<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
-->

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>


<script src="/js/drawPieChart.js"></script>
<script src="/js/validationDateInModalWindow.js"></script>



{% endblock %}

{% block body %}


<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-hand-holding-dollar me-2"></i>PERSONAL BUDGET</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i
                                class="fa-solid fa-house me-2"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Income/newIncome"><i class="fas fa-coins mr me-2"></i>Add
                            Income</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Expense/newExpense"><i
                                class="fa-solid fa-money-bill-1-wave me-2"></i>Add
                            Expense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Balance/showBalanceCurrentMonth"><i
                                class="fa-solid fa-chart-pie me-2"></i>View
                            Balance</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Settings/showUserSettings"><i
                                class="fas fa-cog me-2"></i>Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt me-2"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" id="content">
        <div class="row" id="Table">
            <h2 class="text-center">View your balance</h2>

            <div class="btn-group dateButton " id="period">

                <button type="button" class="btn">Choose Date</button>

                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" id="menu">
                    <span class="sr-only">Expand the list</span>
                </button>

                <div class="dropdown-menu bg-transparent border-0 m-0 p-0 dropdown-menu-end">

                    <a class="dropdown-item" href="/Balance/showBalanceCurrentMonth">Current Month</a>
                    <a class="dropdown-item" href="/Balance/showBalancePreviousMonth">Previous Month</a>
                    <a class="dropdown-item" href="/Balance/showBalanceCurrentYear">Current Year</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#periodDate">Custom
                        period</a>

                </div>

            </div>



            <div class="mb-3 text-center" id="content" name="periodTime">
                <span id="Date">Balance from: {{firstDate}} to {{secondDate}}</span>
            </div>


            <div class="col-12 col-xl-4 text-center">
                <table id="tableOfExpenses" class="table table-bordered border-warning">
                    <thead>
                        <tr id="titleOfTable1">
                            <th colspan="2">Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Category </th>
                            <td> Total </th>
                        </tr>
                        {% for expense in expenseCategories %}
                        <tr>
                            <td>{{ expense.name }}</td>
                            <td>{{ expense.sum}} </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td>TOTAL</td>
                            <td>{{ sumOfExpenses|number_format(2, '.', '') }} PLN</td>
                        </tr>

                    </tbody>
                </table>


                <button data-bs-toggle="modal" data-bs-target="#detailsExpense" type="button"
                    class="btn btn-danger mt-2 mb-4">Show expense details</button>


                {% if expenseCategories is not empty %}
                <p class="fs-3">Pie chart of expenses</p>

                <div class="d-flex justify-content-center" id="piechart_3d"></div>
                {% endif %}

            </div>
            <div class="col-12 col-xl-4 text-center">
                <table class="table table-bordered border-warning">
                    <thead>
                        <tr id="titleOfTable1">
                            <th colspan="2">Incomes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> Category </th>
                            <th> Total </th>
                        </tr>
                        {% for incomes in incomeCategories %}

                        <tr>
                            <td>{{incomes.name}}</td>
                            <td>{{incomes.sum}}</td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td>TOTAL</td>
                            <td>{{ sumOfIncomes|number_format(2, '.', '') }} PLN</td>
                        </tr>
                    </tbody>
                </table>


                <button data-bs-toggle="modal" data-bs-target="#detailsIncome" type="button"
                    class="btn btn-danger mt-2 mb-4">Show income details</button>

                {% if incomeCategories is not empty %}
                <p class="fs-3">Pie chart of incomes</p>

                <div class="d-flex justify-content-center" id="piechart_incomes"></div>
                {% endif %}


            </div>
            <div class="col-12 col-xl-4 text-center">


                <table class="table table-bordered border-warning">
                    <thead>
                        <tr id="titleOfTable1">
                            <th colspan="3">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> Incomes </th>
                            <th> Expenses </th>
                            <th> Balance </th>
                        </tr>
                        <tr>
                            <td>{{sumOfIncomes|number_format(2, '.', '')}}</td>
                            <td>{{sumOfExpenses|number_format(2, '.', '')}}</td>
                            <td>{{(sumOfIncomes-sumOfExpenses)|number_format(2, '.', '') }} PLN</td>

                        </tr>
                    </tbody>
                </table>

                {% if sumOfIncomes-sumOfExpenses > 0 %}
                <div class="alert alert-success" role="alert">
                    Congratulations! You manage your finances great!
                </div>
                {% endif %}

                {% if sumOfIncomes-sumOfExpenses < 0 %} <div class="alert alert-danger" role="alert">
                    Ups! You are getting into Debt! Try to plan your expenses better!
            </div>
            {% endif %}


        </div>
    </div>

</div>
<!--Modal-->
<div class="modal fade" id="periodDate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Choose date</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/balance/showBalancePeriodTime" id="DateForm">
                    <div class="form-group">
                        <label class="col-form-label">Choose period time from which you want to see the
                            balance.</label>
                        <label>From: <input type="date" class="form-control" name="date1"></label>
                        <label>To: <input type="date" class="form-control" name="date2"></label>
                    </div>


                    <span class="text-danger text-center error" id="dateError">{{expense.errors.dateError}}</span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="detailsIncome" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-notify modal-info">
        <div class="modal-content">
            <div class="modal-header text-center " id="detailsheader">
                <h5 class="modal-title" id="staticBackdropLabel">Details of your incomes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsbody">
                <form method="post" action="/balance/showBalancePeriodTime" id="detailOfIncome">
                    <div style="overflow-x:auto;">

                        {%if detailsOfIncome is not empty %}
                        <table class="table table-bordered w-auto text-center">
                            <tbody>
                                <tr>
                                    <th id="titleOfColumn"> Category </th>
                                    <th id="titleOfColumn"> Amount </th>
                                    <th id="titleOfColumn"> Date </th>
                                    <th id="titleOfColumn" style="width:40%"> Comment </th>
                                </tr>
                                {% for detail in detailsOfIncome %}
                                <tr>

                                    <td id="name">{{detail.name}}</td>
                                    <td id="amount">{{detail.amount}}</td>
                                    <td id="date">{{detail.date_of_income}}</td>
                                    <td id="comment">{{detail.comment}}</td>

                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                        {% else %}


                        <p class="text-danger mb-2 mt-2">You have no income for the selected period!</p>

                        {% endif %}


                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-notify modal-info">
        <div class="modal-content">
            <div class="modal-header text-center" id="detailsheader">
                <h5 class="modal-title" id="staticBackdropLabel">Details of your expenses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsbody">
                <form method="post" action="/balance/showBalancePeriodTime" id="detailOfExpense">
                    <div style="overflow-x:auto;">
                        {%if detailsOfExpense is not empty %}
                        <table class="table table-bordered w-auto text-center ">
                            <tbody>
                                <tr>
                                    <th id="titleOfColumn"> Category </th>
                                    <th id="titleOfColumn"> Amount </th>
                                    <th id="titleOfColumn"> Payment Method </th>
                                    <th id="titleOfColumn"> Date </th>
                                    <th id="titleOfColumn"> Comment </th>
                                </tr>
                                {% for detail in detailsOfExpense %}
                                <tr>

                                    <td id="name">{{detail.name}}</td>
                                    <td id="amount">{{detail.amount}}</td>
                                    <td id="payment">{{detail.amount}}</td>
                                    <td id="date" class="ml-2 mr-2">{{detail.date_of_expense}}</td>
                                    <td id="comment">{{detail.comment}}</td>

                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                        {% else %}


                        <p class="text-danger mb-2 mt-2">You have no expense for the selected period!</p>

                        {% endif %}
                    </div>




                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}