{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/Settings.css" />

{% endblock %}

{% block footer %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

<script src="/js/haslo.js"></script>


<script src="/js/validationFormSignup.js"></script>

<script src="/js/validationFormPassword.js"></script>

<script src="/js/validationEmailForm.js"></script>


{% endblock %}

{% block body %}

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-hand-holding-dollar me-2"></i>PERSONAL BUDGET</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><i
                                class="fa-solid fa-house me-2"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Income/newIncome"><i class="fas fa-coins mr me-2"></i>Add Income</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Expense/newExpense"><i
                                class="fa-solid fa-money-bill-1-wave me-2"></i>Add
                            Expense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Balance/showBalanceCurrentMonth"><i
                                class="fa-solid fa-chart-pie me-2"></i>View
                            Balance</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Settings/showUserSettings"><i
                                class="fas fa-cog me-2"></i>Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt me-2"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

        <div class="row no-gutters" id="Table">

            <div class="col-sm-12 col-md-4 mr-3">

                <ul class="nav flex-column px-1 py-2 side text-center">

                    <h6 class="py-2">Profile Settings</h6>
                    <li class="nav-item disabled">
                        <a class="nav-link" href="/Settings/showUserSettings">User</a>
                    </li>

                    <h6 class="py-2">Category Settings</h6>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Settings/showIncomeCategorySettings">Income</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Settings/showExpenseCategorySettings">Expense</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Settings/showPaymentMethodSettings">Payment Methods</a>
                    </li>

                </ul>

            </div>

            <div class="col-sm-12 col-md-8   text-center mb-auto mt-auto">

                <div class="row mb-3">
                    <div class="input-group  col-lg-6">
                        <label for="currentName" class="form-label">Name</label>
                        <input id="currentName" class="form-control" type="text" name="username"
                            value="{{current_user.username}}" disabled>
                        <button type="button" class="btn btn-primary" id="editButton" data-bs-toggle="modal"
                            data-bs-target="#editNameModal">
                            <i class="fa-solid fa-pen-to-square"></i></button>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="input-group col-lg-6">
                        <label for="currentEmail" class="form-label">Email</label>
                        <input id="currentEmail" class="form-control" type="email" value="{{current_user.email}}"
                            disabled>
                        <button type="button" class="btn btn-primary" id="editButton" data-bs-toggle="modal"
                            data-bs-target="#editEmailModal"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="input-group col-lg-6">

                        <label for="currentPassword" class="form-label">Password</label>
                        <input id="currentPassword" type="password" class="form-control" name="username"
                            value="••••••••" disabled>
                        <button type="button" class="btn btn-primary" id="editButton" data-bs-toggle="modal"
                            data-bs-target="#editPasswordModal"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Modal window-->
<div class="modal fade" id="editNameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editing Username</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Settings/editUsername" id="formSignup">
                    <div class="row mb-3">
                        <div class="input-group justify-self-center">
                            <label for="username" class="form-label">Name</label>
                            <input id="username" class="form-control" type="text" name="username"
                                placeholder="{{current_user.username}}" required>
                        </div>
                    </div>

                    <ul class="text-danger text-center mt-1 error nameError" style="list-style-type:none;">
                        {% if user.errors['usernameError1'] is defined %}
                        <li>{{ user.errors['usernameError1'] }}</li>
                        {% endif %}

                        {% if user.errors['usernameError2'] is defined %}
                        <li>{{ user.errors['usernameError2'] }}</li>
                        {% endif %}

                        {% if user.errors['usernameError3'] is defined %}
                        <li>{{ user.errors['usernameError3'] }}</li>
                        {% endif %}

                        {% if user.errors['usernameError4'] is defined %}
                        <li>{{ user.errors['usernameError4'] }}</li>
                        {% endif %}

                    </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>





<!--Modal window-->
<div class="modal fade" id="editEmailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editing Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Settings/editEmail" id="formEmail">
                    <div class=" row mb-3">
                        <div class="input-group">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" class="form-control" type="email" name="email"
                                placeholder="{{current_user.email}}" required>
                        </div>
                    </div>
                    <ul class="text-danger text-center mt-1 error emailError" style="list-style-type:none;">

                        {% if user.errors['emailError1'] is defined %}
                        <li>{{ user.errors['emailError1'] }}</li>
                        {% endif %}

                        {% if user.errors['emailError2'] is defined %}
                        <li>{{ user.errors['emailError2'] }}</li>
                        {% endif %}

                    </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!--Modal window-->
<div class="modal fade" id="editPasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editing Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Settings/editPassword" id="formPassword">
                    <!--                    <div class=" row mb-3">
                        
                        <div class="input-group">
                            <label for="oldPassword" class="form-label">Old Password</label>
                            <input id="oldPassword" type="password" class="form-control" name="oldPassword"
                                placeholder="••••••••" required>
                        </div>
                    </div>
                    <ul class="text-danger text-center mt-1 error oldPasswordError" style="list-style-type:none;">

                        {% if user.errors['errorConfirmPassword'] is defined %}
                        <li>{{ user.errors['errorConfirmPassword'] }}</li>
                        {% endif %}

                    </ul>
-->
                    <div class=" row mb-3">
                        <div class="input-group">
                            <label for="password" class="form-label">Password</label>
                            <input id="password" type="password" class="form-control" name="password"
                                placeholder="••••••••" required>
                        </div>
                    </div>

                    <ul class="text-danger text-center mt-1 error passwordError" style="list-style-type:none;">

                        {% if user.errors['errorPassword1'] is defined %}
                        <li>{{ user.errors['errorPassword1'] }}</li>
                        {% endif %}

                        {% if user.errors['errorPassword2'] is defined %}
                        <li>{{ user.errors['errorPassword2'] }}</li>
                        {% endif %}

                        {% if user.errors['errorPassword3'] is defined %}
                        <li>{{user.errors['errorPassword3']}}</li>
                        {% endif %}
                    </ul>
                    <div>
                        <input type="checkbox" id="checkbox" name="checkbox" onclick="showPassword();">
                        <label for="checkbox">Show password</label>
                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}