{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block body %}

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid ">
            <a class="navbar-brand"><i class="fa-solid fa-hand-holding-dollar me-2"></i>PERSONAL BUDGET</a>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-8 col-lg-5">
                <div class="sentence">
                    <p class="h2"><span>Budgets</span> can open your life to achieving goals you never thought
                        possible.
                    </p>
                    <blockquote class="blockquote">
                        <p class="h5 mt-5"><em>Don’t let your finances stress you out to the point of inaction.
                                Instead, take control of your finances.</em></p>
                    </blockquote>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="login" style="height: auto;">
                    <div class="title"><span>Member login</span></div>

                    <form action="/login/create" method="post">

                        <div class="row mb-3">
                            <div class="input-group">
                                <i class="fa-solid fa-user"></i>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    placeholder="Email address" name="email" required value="{{email}}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="input-group">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" name="password" required>
                            </div>
                        </div>
                        <div class="row mb-3 form-check">
                            <div class="pass">
                                <div class="input-group">
                                    <input type="checkbox" class="form-check-input me-2" id="remember"
                                        name="remember_me" {% if remember_me %} checked="checked" {% endif %}>
                                    <label class="form-check-label" for="remember">Remember me</label>
                                </div>

                                <a href="#">Forgot password?</a>
                            </div>
                        </div>
                        <div class="button"><button type="submit" class="btn btn-warning">Sign in</button></div>


                        <div class="signup">Not a memeber? <a href="registration.php"> Sign up now!</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}