<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" href="/css/styles.css" />
    {% endblock %}
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="https://kit.fontawesome.com/0493276a63.js" crossorigin="anonymous"></script>


    <link
        href="https://fonts.googleapis.com/css2?family=Cookie&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</head>

<body>


    <!--<nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if current_user %}
            <li><a href="/profile/show">Profile</a></li>
            <li><a href="/logout">Log out</a></li>
            {% endif %}
        </ul>
    </nav>
    -->


    {% for message in flash_messages %}

    <div class="alert alert-{{message.type}} alert-dismissible fade show mt-2 text-center" role="alert">
        {{ message.body }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


    {% block body %}

    {% endblock %}



    {% block footer %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>